# Virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# env files
.env

# game files

game_results/game__*
game_results/llm_interactions/*
!game_results/llm_interactions/.gitkeep
!game_results/llm_interactions/README.md
game_results/experiments/*
!game_results/experiments/.gitkeep
!game_results/experiments/README.md

game_results/experiment0*


data/qdrant/*
